html{
  height: 100vh;
  width: 100vw;
}

body {
  margin: 50px;
  height: 100vh;
  position: relative;
  border: 1px solid black; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.statement {
  border: 1px solid black;
  margin: 30px auto;

  width: 450px;
  font-size: 32px;
  
}

.drake {
  border: 1px solid black;
  
}
.img-container{
  display: flex;
  justify-content: center;
}